<br>
<div class="container rounded">
    <div class="row justify-content-center text-light bg-dark">
        <h1>Contact Details</h1>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4 offset-1">
            <div class="card border border-dark">
            <div class="card-header text-center text-light bg-dark">Customer Support</div>
                <div class="card-body">
                    <img src="../../assets/support.png" alt="image" class="img-fluid"><br>
                    <span>Contact No- 9845673772</span><br>
                    <span>Email- customersupport32@gmail.com</span>
                </div>
            </div>
            

        </div>
        <div class="col-md-4 offset-2">
            <div class="card border border-dark">
            <div class="card-header text-center text-light bg-dark">Technical Support</div>
            
            <div class="card-body">
            <img src="../../assets/tech.png" alt="image" class="img-fluid"><br>
            <span>Contact No- 9845673631<br>
            Email- technicalsupport32@gmail.com</span>
            </div>
            </div>
            

        </div>
    </div>
</div>
