<div class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-5 offset-1">
            <img src="../../assets/vehicle-png.jpeg" style="width:500px">
        </div>
        <div class="col-md-5 offset-1 align-self-center">
            <h1>Cars Renting System</h1>
            <!-- <h2>Vehicle Hiring/Renting System</h2> -->
            <p>Cars Renting Services provides different types of Automobiles on Rent for short period.
                        Providing Ground Transport Solutions Seeking Comfort and Luxury.</p>
            <br>
            <h5><a href="/status">Check Available Vechicles →</a></h5>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

